POSTGRES_USER=postgres
POSTGRES_PASSWORD=superuser
POSTGRES_DB=teamfinder_db
POSTGRES_PORT=5432

REDIS_PORT=6379

API_PORT=8000
PARSER_PORT=8001

SECRET_KEY=change-me-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
